.chat-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 25px;
}

.chat-history {
  height: calc(100vh - 160px);
  overflow-y: scroll;
}

.chat-input {
  position: fixed;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

.chat-input textarea {
  width: 100%;
}
